@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Light.otf);
  font-weight: lighter;
}

body{
	font-family: Gilroy;
	font-size: 20px;
}

html, body{
	padding: 0;
	margin: 0;
}

h1, h2, h3{

}

span{
	z-index: 100;
	position: relative;
}

.wrapper{
	overflow: hidden;
}

.btn{
	border-radius: .5rem;
	font-size: 1.25rem;
	font-weight: bold;
	border: 3px solid black;
	background: white;
	color: black;
	padding: .5rem 2rem;
	text-decoration: none;
}

.btn:hover{
	background: #f2f2f2;
}

.background--red{
	background: #ec4c34;
}

.background--yellow{
	background: #fcd40b;
}

.background--blue{
	background: #1e7fbf;
}

.background--pink{
	background: #f396bb;
}

.background--green{
	background: #1aa286;
}

.padding-top--large{
	padding-top: 5rem;
}

.padding-bottom--large{
	padding-bottom: 5rem;
}

.text--uppercase{
	text-transform: uppercase;
}

.text--white{
	color: white;
}

.text--bold{
	font-weight: bold;
}

.amg-banner{
	text-align: center;
	padding: 1rem 0;
}

.amg-section{
	position: relative;
}

.amg-section--stay-up-to-date{
	padding: 0;
}

.amg-section--stay-up-to-date .inner{
	flex-direction: column;
	padding: 5rem 0;
	position: relative;
}

.amg-section--stay-up-to-date .inner .amg-section__content{
	/*max-width: 500px;*/
}

.paragraph--sign-up-arrow{
	position: relative;
}

.paragraph--sign-up-arrow img{
	position: absolute;
  right: -90px;
  bottom: -87px;
  z-index: 0;
}

@media(max-width: 768px){
	.paragraph--sign-up-arrow img{
		right: -90px;
	  bottom: -67px;
	  width: 150px !important;
	 }
}

.paragraph--sign-up-arrow span{
	position: relative;
	z-index: 100;
}

.amg-section img.sign-up-arrow{
	width: 200px;
}

.amg-section img.sign-up-point{
	position: absolute;
  bottom: 0px;
  left: 40px;
  max-width: 300px;
}

.amg-section--love-you{

}

.amg-section--love-you .love-you-arrow{
	position: absolute;
	/*transform: translateX(100%);*/
	width: 200px;
	right: -210px;
}

.amg-section .inner{
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 1024px;
	margin: auto;
}

@media(max-width: 1024px){
	.amg-section .inner{
		flex-direction: column;
	}
	.amg-section--image-right .inner{
		flex-direction: column-reverse !important;
	}
}

@media(max-width: 768px){
	.amg-section--stay-up-to-date .inner .amg-section__content{
		/*max-width: 300px;*/
	}	
}

.amg-section--center .inner{
	justify-content: center;
}

.amg-section--image-right .inner{
	flex-flow: row-reverse;
}

.amg-section__image{
	margin: 1rem;
}

.amg-section__content{
	margin: 1rem;
	max-width: 50%;
}

@media(max-width: 768px){
	.amg-section__content{
		max-width: 100%;
	}
}

.amg-section img{
	max-width: 100%;
	width: 400px;
}

.amg-section.amg-section--center{
	text-align: center;
}