@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Light.otf);
  font-weight: lighter;
}

body{
	font-family: Gilroy;
	font-size: 20px;
}

html, body{
	padding: 0;
	margin: 0;
}

h1, h2, h3{
	margin-bottom: 1rem;
	margin-top: 0;
}

a{
	color: white;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

span{
	z-index: 100;
	position: relative;
}

.email-banner{
	background: #B895E6;
	padding: 1rem 0;
}

.email-banner img{
	width: 90% !important;
	max-width: 750px !important;
}

.email-banner h2{
	font-size: 3rem;
}

.email-banner *{
	margin: 1rem auto;
}

.email-banner .btn{
	max-width: 90%;
}

.wrapper{
	overflow: hidden;
}

.btn{
	border-radius: .5rem;
	font-size: 1.25rem;
	font-weight: bold;
	border: 3px solid black;
	background: white;
	color: black;
	padding: .5rem 2rem;
	text-decoration: none;
	display: inline-block;
}

.btn:hover{
	background: #f2f2f2;
}

.background--red{
	background: #ec4c34;
}

.background--yellow{
	background: #fcd40b;
}

.background--blue{
	background: #1e7fbf;
}

.background--pink{
	background: #f396bb;
}

.background--green{
	background: #1aa286;
}

.padding-top--large{
	padding-top: 5rem;
}

.padding-bottom--large{
	padding-bottom: 5rem;
}

@media(max-width: 1024px){
	.padding-top--large{
		padding-top: 2rem;
	}	
	.padding-bottom--large{
		padding-bottom: 2rem;
	}
	.amg-section--stay-up-to-date .inner{
		padding: 2rem 0 !important;
	}
}

.text--uppercase{
	text-transform: uppercase;
}

.text--white{
	color: white;
}

.text--bold{
	font-weight: bold;
}

.amg-banner{
	text-align: center;
	padding: 1rem 0;
}

.amg-section{
	position: relative;
}

.amg-section--stay-up-to-date{
	padding: 0;
}

.amg-section--social .inner, 
.amg-section--stay-up-to-date .inner{
	flex-direction: column;
	padding: 5rem 0;
	position: relative;
}

.amg-section--stay-up-to-date .inner .amg-section__content{
	/*max-width: 500px;*/
}

.paragraph--sign-up-arrow{
	position: relative;
}

.paragraph--sign-up-arrow img{
	position: absolute;
  right: -90px;
  bottom: -87px;
  z-index: 0;
}


@media(max-width: 1024px){
	.hide--mobile{
		/*display: none;*/
	}
}

.paragraph--sign-up-arrow span{
	position: relative;
	z-index: 100;
}

.amg-section img.sign-up-arrow{
	width: 40%;
	max-width: 200px;
}

@media(max-width: 768px){
	.paragraph--sign-up-arrow img{
		right: -15%;
	  bottom: -100px;
	  width: 30% !important;
	  max-width: 200px;
	 }
}


.amg-section img.sign-up-point{
	position: absolute;
  bottom: 0px;
  left: 40px;
  max-width: 300px;
  width: 30% !important;
}

@media(max-width: 768px){
	.amg-section img.sign-up-point{
		left: -10%;
		max-width: 175px;
		width: 30% !important;
	}
}

.amg-section--love-you .love-you-arrow{
	position: absolute;
	/*transform: translateX(100%);*/
	width: 200px;
	right: -210px;
	max-width: none;
	top: 5px;
}

@media(max-width: 1024px){
	.amg-section--love-you .love-you-arrow{
		position: relative;
		display: block;
		margin-top: 1rem;
		right: 0;
		left: 0;
	}
}

.amg-section .inner{
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 1024px;
	margin: auto;
}

@media(max-width: 1024px){
	.amg-section .inner{
		flex-direction: column;
	}
	.amg-section--image-right .inner{
		flex-direction: column-reverse !important;
	}
}

@media(max-width: 768px){
	.amg-section--stay-up-to-date .inner .amg-section__content{
		/*max-width: 300px;*/
	}	
}

.amg-section--center .inner{
	justify-content: center;
}

.amg-section--image-right .inner{
	flex-flow: row-reverse;
}

.amg-section__image{
	margin: 1rem;
}

.amg-section__content{
	margin: 1rem;
	max-width: 50%;
}

@media(max-width: 768px){
	.amg-section__content{
		max-width: 100%;
	}
}

.amg-section img{
	max-width: 100%;
	width: 400px;
}

.amg-section.amg-section--center{
	text-align: center;
}

.bottom-logos{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-top: 2rem;
}

.bottom-logos img{
	max-width: 150px;
	margin-right: 1rem;
}

.bottom-logos h2 a{
	font-size: 3rem;
	text-decoration: none;
}

.social-icons{
	text-decoration: none;
}

.social-icons a{
	display: inline-block;
	font-size: 2rem;
	margin: .5rem;
}

.social-icons a:hover{
	opacity: .5;
}
